@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth background transition on theme change */
html {
  transition: background-color 0.2s ease, color 0.2s ease;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}